$navbar: (
    light: (
        default: #262626,
        primary: #70B120,
        secondary: #0085FF,
        text: #C4C8CC
    ),
    dark : (
        default: hsl(218, 27%, 8%),
        primary: #70B120, 
        secondary: #0085FF
    )
);