$container: (
    light: (
        default  : #ECF0F1,
        primary  : #575757,
        secondary: #7B8994
    ),
    dark : ( 
        default  : #1A1D24,
        primary  : #F9FAFC,
        secondary: #7B8994
    )
);