$font-weight: 600;

$tag-colors: (
    Literature: #f44336,
    Tech      : #C0C0C0,
    Politics  : #B87333,
    Education : #00bcd4,    
    Sports    : #ff9800,
    News      : #2196f3,
    Music     : #D15FEE,
    Philosophy: #4caf50,
    Health    : #FFA07A,
    Science   : #ffca28,
    Religion  : #CDAF95,
    Art       : #673ab7
);